.ios .back-btn-profile {
    top: 30px;
    left: 30px;
}

.ios .camera-icon {
    font-size: 40px;
}

.back-btn-profile {
    direction: rtl;
}

.ios .logout-btn {
    height: 36px;
    --border-width: 2px;
}
/* .ios ion-content {
    --overflow: scroll;
} */

/* .md .inner-btn {
    --icon-font-size: 40px;
}

.ios .inner-btn {
    --icon-font-size: 40px;
} */

.ios .edit-btn-profile {
    height: inherit;
}

.card-content-ios {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

@media screen and (min-width: 414px){
    .card-content-ios {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
    }

}

@media screen and (min-width: 375px){
    .card-content-ios {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
    }

}

.item-inner{
min-height: 1px !important;
}

.label-md{
    margin-bottom: 1px!important;
    margin-top: 1px!important;
}

ion-item-divider{
    margin-top: 0px;
    min-height: 2.5px;
    max-width: 46%;
}